html, body, #container{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #221616;
    position: relative;
    overflow: hidden;
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    background-color: green;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border: 4px solid black;
    position: absolute;
    height: 95%;
}

#topContainer, #botContainer{
    margin: 2%;
    height: 30%;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

#dealer-cards, #player-cards{
    height: 100%;
    width: 16%;
    display: flex;
    justify-content: flex-start;
} 

#dealer-cards img, #player-cards img, #deck{
    height: 100%;
    width: 50%;
    margin: 1px;
}

#splitHolder{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 8%;
    margin-right: 17%;
    margin-left: -25%;
}

#splitHolder img{
    height: 100%;
    width: 100%;
    margin: 1px;
}

#deck{
    box-shadow: 10px 10px 5px -2px;
    width: 8%;
    margin-right: 17%;
    margin-left: -25%;
}

#player-cards img{
    -webkit-animation: slideDown 0.5s forwards;
    animation: slideDown 0.5s forwards;
}

#dealer-cards img{
    -webkit-animation: slideRight 0.5s forwards;
    animation: slideRight 0.5s forwards;
}

#gameButtons{
    height: 20%;
}

#hit, #stay, #split, #doubleDown{
    width: 8%;
    height: 100%;
    font-size: 1.5vw;
    border: 2px solid black;
}

#doubleDown{
    width: 12%;
}

h2{
    font-size: 2vw;
}

#overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#content{
    width: 80%;
}

#message{
    height: 10%;
    font-size: 2vw;
}

#overlayButtons > #buyIn{
    height: 8%;
    width: 18%;
}

#overlayButtons > button{
    border: 2px solid #ff4646;
    background-color: white;
    text-align: center;
    font-size: 2vw;
    width: 10%;
    margin: 2px;
}

#overlayButtons > button:hover{
    background-color: rgb(160, 160, 160);
}
button:hover{
    background-color: rgb(160, 160, 160);
}


@-webkit-keyframes slideRight{
    0%{transform: translateX(-80%);}
    100%{transform: translateX(0);}
}

@keyframes slideRight{
    0%{transform: translateX(-80%);}
    100%{transform: translateX(0);}
}

@-webkit-keyframes slideDown{
    0%{transform: translate(-50%, -90%);}
    100%{transform: translate(0);}
}

@keyframes slideDown{
    0%{transform: translate(-50%, -90%);}
    100%{transform: translate(0);}
}

@media only screen and (max-width: 950px) {
    #dealer-cards, #player-cards{
        width: 55%;
        height: 45%;
    }


    #deck{
        height: 45%;
        width: 11%;
        margin-right: 10%;
        margin-left: -20%;
    }

    #dealer-cards img, #player-cards img{
        width: 22%;
    }

    #hit, #stay, #split, #doubleDown{
        width: 15%;
        height: 70%;
        font-size: 3vw;
    }

    #doubleDown{
        width: 25%;
    }

    h2, #message{
        font-size: 4vw;
    }

    #overlayButtons > button{
        height: 5%;
        width: 12%;
        font-size: 3vw;
    }

    #overlayButtons > #buyIn{
        width: 25%;
    }


}